body {
    background-color: #eaeaea;
}

p {
    text-indent: 15px;
}

h1 {
    font-size: 1.8em;
    margin: 10px 0 5px 0;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
    color: burlywood;
}
h3 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

strong {
    font-weight: bold;
}

ul, ol {
    margin-left: 25px;
}

header {
    padding: 10px;
    min-height: 48px;
    background-color: white;
}

.error {
    color: darkred;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
